@model IEnumerable <CheeryAssessment.Models.ExchangeLogModel>

@{
    ViewBag.Title = "ViewReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction History</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.transaction_date)*@
            Transaction Date
        </th>
        <th>
            From Currency
        </th>
        <th>
            Amount
        </th>
        <th>
            To Currency
        </th>
        <th>
            Conversion Rate
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.transaction_date)
            </td>
            <td>
                @Html.DisplayFor(model => item.from_currency_code)
            </td>
            <td>
                @Html.DisplayFor(model => item.from_amount)
            </td>
            <td>
                @Html.DisplayFor(model => item.to_currency_code)
            </td>
            <td>
                @Html.DisplayFor(model => item.conversion_rate)
            </td>
            <td>
                @Html.DisplayFor(model => item.to_amount)
            </td>
        </tr>
    }
</table>

